[Unit]
Description=NestJS Backend Container
Requires=docker.service
After=docker.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=%i
Group=docker
ExecStartPre=-/usr/bin/docker stop nestjs-backend-prod
ExecStartPre=-/usr/bin/docker rm nestjs-backend-prod
ExecStartPre=/usr/bin/docker pull ghcr.io/candopandu/mikoszeug:latest
ExecStart=/usr/bin/docker run -d \
    --name nestjs-backend-prod \
    --restart unless-stopped \
    -p 3000:3000 \
    -e NODE_ENV=production \
    --health-cmd="wget --no-verbose --tries=1 --spider http://localhost:3000/ || exit 1" \
    --health-interval=30s \
    --health-timeout=10s \
    --health-retries=5 \
    --health-start-period=30s \
    ghcr.io/candopandu/mikoszeug:latest
ExecStop=/usr/bin/docker stop nestjs-backend-prod
ExecStopPost=/usr/bin/docker rm nestjs-backend-prod
TimeoutStartSec=300
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target